<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">


 <!-- 
 	회원가입
 	사용자로부터 입력받은 정보를 DB에 "저장" 시키는 기능
 	parameterType : 넣어주는 데이터의 Class가 뭔지
  -->
  
  <insert id="join" parameterType="com.smhrd.entity.Member">
  	insert into member
  	values (#{memId}, #{memName}, #{memPwd})
  </insert>








</mapper>